body {
	font-size: small;
	font-family: Arial, sans-serif;
}

#footer {
	background-color: #f2f2f2;
	border-top: 2px solid #e4e4e4;
}

ul {
	list-style-type: none;
}

li {
	display: inline;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
/* ul { list-style-type: none; } usuwanie kulek z list */